<!-- Circular Button to Toggle the Chat -->
<button class="chat-toggle-button" [ngClass]="{'open': isCollapsed}" (click)="toggleChat()">
    <img src="assets/images/icon-png.png" alt="">
 </button>
   
 <!-- Chatbot Container -->
 <div class="chatbot-container" [ngClass]="{'open': !isCollapsed}">
     <div class="chat-header">
         <span class="chat-title">Chat with us!</span>
         <button class="close-chat-button" (click)="toggleChat()">X</button>
     </div>
     <div class="chat-body">
         <div class="messages" #messagesContainer>
             <div *ngFor="let message of messages" [ngClass]="{ 'user': message.sender === 'user', 'bot': message.sender === 'bot' }">
                 <div class="message">
                     <span class="message-icon">
                         <i *ngIf="message.sender === 'bot'" class="fas fa-robot"></i>
                         <i *ngIf="message.sender === 'user'" class="fas fa-user"></i>
                     </span>
                     <span [innerHTML]="message.text"></span>
                 </div>
             </div>
         </div>
         <div class="chat-input">
            <textarea #messageInput [(ngModel)]="message" placeholder="Type a message..." (input)="autoResize($event)" (keydown.enter)="sendMessage()"></textarea>
            <button class="send-button" (click)="sendMessage()">Send</button>
         </div>
     </div>
 </div>
 